body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #222;
    text-align: center;
}

h1 {
    margin-top: 60px;
    color: #006241;
}

p {
    font-size: 20px;
}